*{
    margin: 0;
    padding: 0;
    font-family: Calibry;

}

header{
    background-image: url(../russel2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}  

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    font-size: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid black;
}

ul li a:hover{
    background-color: black;
    color: white;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-left: 30px;
}

.title{
    width: 100%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title h1{
    color: #3B3A37;
    font-size: 110px;
    overflow: hidden;
}

.timer{
    margin-top: 90px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 110px;
    color: #3B3A37;
    overflow: hidden;
}

.count span{
    display: inline-block;
    border: 5px solid;
}