*{
    margin: 0;
    padding: 0
}

header{
    background-image: url(../moze_to.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

input{
    margin-top: 10px;
}

